<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation Starter Template</title>
    <!-- <link href="/css/test.css" rel="stylesheet" type="text/css"> -->
    <link href="/output.css" rel="stylesheet">
  </head>
  

  <div class="flex flex-col">
    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
        <div class="overflow-hidden">
          <table class="min-w-full text-left text-sm font-light">
            <thead class="border-b font-medium dark:border-neutral-500">
              <tr>
                <th scope="col" class="px-6 py-4">Rank</th>
                <th scope="col" class="px-6 py-4">Player</th>
                <th scope="col" class="px-6 py-4">M+ Score</th>
                <th scope="col" class="px-6 py-4">Role</th>
                <th scope="col" class="px-6 py-4">Overall Rank</th>
                <th scope="col" class="px-6 py-4">Role Rank</th>
              </tr>
            </thead>
            <tbody>
              <tr
                class="border-b transition duration-300 ease-in-out hover:bg-neutral-100 dark:border-neutral-500 dark:hover:bg-neutral-600">
                <% for(var i=0; i < 19; i++) { %>
                  <tr>
                <td class="whitespace-nowrap px-6 py-4 font-medium"><%= playerArray[i].id %></td>
                <td class="whitespace-nowrap px-6 py-4"><%= playerArray[i].playerName %></td>
                <td class="whitespace-nowrap px-6 py-4"><%= playerArray[i].score %></td>
                <td class="whitespace-nowrap px-6 py-4"><%= playerArray[i].role %></td>
                <td class="whitespace-nowrap px-6 py-4"><%= playerArray[i].overallRank %></td>
                <td class="whitespace-nowrap px-6 py-4"><%= playerArray[i].roleRank %></td>
              </tr>
           <% } %>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
      
    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>

  </body>
</html>


