<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation Starter Template</title>
    <!-- <link href="/css/test.css" rel="stylesheet" type="text/css"> -->
    <link rel="stylesheet" href="node_modules/foundation-sites/dist/css/foundation.css">
    
    <style>
      
    </style>

  </head>
  <body>
    <div>
    <table>
      <thead>
        <tr>
          <td>Rank</td>
          <td>Player</td>
          <td>M+ Score</td>
          <td>Role</td>
          <td>Overall Rank</td>
          <td>Role Rank</td>
        </tr>
        <tr>
        </thead>
        <tbody>
             <% for(var i=0; i < playerArray.length; i++) { %>
              <tr>
            <td><%= playerArray[i].id %></td>
            <td><%= playerArray[i].playerName %></td>
            <td><%= playerArray[i].score %></td>
            <td><%= playerArray[i].role %></td>
            <td><%= playerArray[i].overallRank %></td>
            <td><%= playerArray[i].roleRank %></td>
          </tr>
       <% } %>
      </tbody>
       </table>
      </div>
      
    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>

  </body>
</html>


