<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Statistic Dashboard</title>
    <link rel="stylesheet" href="/stats.css" />
    <link rel="stylesheet" href="/styles.css">
<link rel="stylesheet" href="/all.min.css">
  </head>
  <body>
    <!-- nav bar -->
    <nav class="nav-bar">
        <a href="https://www.warcraftlogs.com/guild/id/566479" class="menu-link"><span>Warcraft Logs</span></a>
        <a href="https://raider.io/guilds/us/emerald-dream/Not%20That%20Drunk" class="menu-link"><span>Raider IO</span></a>
        <a href="https://subcreation.net/" class="menu-link"><span>Subcreation</span></a>
        <a href="https://www.wowhead.com/" class="menu-link"><span>Wowhead</span></a>
        <a href="https://docs.google.com/spreadsheets/d/15kwSNS6_cpc4i789g7VmPhNQ-fAwswOUu9CFWpRejxk/edit#gid=241918221" class="menu-link"><span>Raid Team Spreadsheet</span></a>

    </nav>

    <!-- Side menu for small display -->
    <aside class="menu" id="menu">
      <div class="menu-header">
        <h1>Menu</h1>
        <button class="close-menu">
          <img src="./img/close.svg" alt="close-menu" />
        </button>
      </div>
      <div class="menu-links">
        <a href="/" class="menu-link"><span>Home</span></a>
        <a href="/livelog" class="menu-link"><span>Live Log</span></a>
        <a href="#mplus" class="menu-link"><span>M+</span></a>
      </div>
    </aside>

    <nav class="tab-selector">
      <div>
        <a href="/" class="tab-select selected-tab">Home</a>
        <a href="/livelog" class="tab-select">Live Log</a>
        <a href="#mplus" class="tab-select">M+</a>
      </div>
    </nav>

    <div class="main-layout">
      <main class="main">
        <!-- Row 1 -->
        <div class="row-1">
          <div class="box active-users">
            <h2 class="box-title">
              NTD Members with KSM
            </h2>
            <%
            function countPlayersAboveScore(players, score) {
            var count = 0;
            for(var i=0; i < players.length; i++) {
              if(players[i].score > score) {
              count++;
                    }
                    }
              return count;
              }

              var playerCount = countPlayersAboveScore(playerArray, 1999);
              %>
              
            <h1 class="number-ksm">
              
              <%= playerCount %>
            </h1>
          </div>
          <div class="box page-views">
            <h2 class="box-title">Keys completed this week</h2>
            <div class="graph">
              <div class="bar" aria-label="3" style="height: 30%;">
                <div class="label">Tue</div>
              </div>
              <div class="bar" aria-label="4" style="height: 40%;">
                <div class="label">Wed</div>
              </div>
              <div class="bar" aria-label="5" style="height: 50%;">
                <div class="label">Thu</div>
              </div>
              <div class="bar" aria-label="6" style="height: 60%;">
                <div class="label">Fri</div>
              </div>
              <div class="bar" aria-label="7" style="height: 70%;">
                <div class="label">Sat</div>
              </div>
              <div class="bar" aria-label="8" style="height: 80%;">
                <div class="label">Sun</div>
              </div>
              <div class="bar" aria-label="9" style="height: 90%;">
                <div class="label">Mon</div>
              </div>
            </div>
          </div>
        </div>

        <!-- Row 2 - main stats -->
        <div class="row-2-live">
          <div class="stat-box">
            <div class="box-title">
              <span>ATSC Normal</span>
            </div>
            <h1 class="number-fs">
              <%= progress.normal_bosses_killed %>/9
            </h1>
          </div>
          <div class="stat-box">
            <div class="box-title">
              ATSC Heroic
            </div>
            <h1 class="number-fs">
              <%= progress.heroic_bosses_killed %>/9
            </h1>
          </div>
        </div>


        <!-- Row 4 - Devices -->
        <div class="row-4">
          <div class="box device-box">
            <div class="box-title">Normal Wipes</div>
            <div class="reference-details">
              <div class="reference">
                <span>Kazzara, the Hellforged</span>
                <span>0</span>
              </div>
              <div class="reference">
                <span>Molgoth</span>
                <span>0</span>
              </div>
              <div class="reference">
                <span>The Forgotten Experiments</span>
                <span>0</span>
              </div>
              <div class="reference">
                <span>Rashok, the Elder</span>
                <span>0</span>
              </div>
              <div class="reference">
                <span>Assault of the Zaqali</span>
                <span>0</span>
              </div>
              <div class="reference">
                <span>The Vigilant Steward, Zskarn</span>
                <span>0</span>
              </div>
              <div class="reference">
                <span>Magmorax</span>
                <span>0</span>
              </div>
              <div class="reference">
                <span>Echo of Neltharion</span>
                <span>0</span>
              </div>
              <div class="reference">
                <span>Scalecommander Sarkareth</span>
                <span>0</span>
              </div>
            </div>
          </div>
          <div class="box device-box">
            <div class="box-title">Heroic Wipes</div>
            <div class="reference-details">
              <div class="reference">
                <span>Kazzara, the Hellforged</span>
                <span>0</span>
              </div>
              <div class="reference">
                <span>Molgoth</span>
                <span>0</span>
              </div>
              <div class="reference">
                <span>The Forgotten Experiments</span>
                <span>0</span>
              </div>
              <div class="reference">
                <span>Rashok, the Elder</span>
                <span>0</span>
              </div>
              <div class="reference">
                <span>Assault of the Zaqali</span>
                <span>0</span>
              </div>
              <div class="reference">
                <span>The Vigilant Steward, Zskarn</span>
                <span>0</span>
              </div>
              <div class="reference">
                <span>Magmorax</span>
                <span>0</span>
              </div>
              <div class="reference">
                <span>Echo of Neltharion</span>
                <span>0</span>
              </div>
              <div class="reference">
                <span>Scalecommander Sarkareth</span>
                <span>0</span>
              </div>
            </div>
          </div>
        </div>
        
      </main>
      
      <aside class="side-bar">
        <div class="side-bar-header">
          <h3>Not That Drunk Top M+ Scores</h3>
        </div>
        <div class="flex flex-col">
            <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
              <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
                <div class="overflow-hidden">
                  <table class="min-w-full text-left text-sm font-light">
                    <thead class="border-b font-medium dark:border-neutral-500">
                      <tr>
                        <th scope="col" class="px-6 py-4 ">Rank</th>
                        <th scope="col" class="px-6 py-4">Player</th>
                        <th scope="col" class="px-6 py-4">M+ Score</th>
                        <th scope="col" class="px-6 py-4">Role</th>
                        <th scope="col" class="px-6 py-4">Overall Rank</th>
                        <th scope="col" class="px-6 py-4">Role Rank</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        class="border-b transition duration-300 ease-in-out hover:bg-neutral-100 dark:border-neutral-500 dark:hover:bg-neutral-600">
                        <% for(var i=0; i < 20; i++) { %>
                          <tr class="hover">
                        <td class="whitespace-nowrap px-6 py-4 font-medium"><%= playerArray[i].id %></td>
                        <td class="whitespace-nowrap px-6 py-4"><%= playerArray[i].playerName %></td>
                        <td class="whitespace-nowrap px-6 py-4"><%= playerArray[i].score %></td>
                        <td class="whitespace-nowrap px-6 py-4"><%= playerArray[i].role %></td>
                        <td class="whitespace-nowrap px-6 py-4"><%= playerArray[i].overallRank %></td>
                        <td class="whitespace-nowrap px-6 py-4"><%= playerArray[i].roleRank %></td>
                      </tr>
                   <% } %>
        
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
    <script src="./script.js"></script>
  </body>
</html>