<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Not That Drunk Dashboard</title>
    <link rel="icon" type="image/x-icon" href="/src/favicon.png">
    <link rel="stylesheet" href="/stats.css" />
    <link rel="stylesheet" href="/styles.css">
<link rel="stylesheet" href="/all.min.css">
  </head>
  <body>
    <!-- nav bar -->
    <nav class="nav-bar">
        <span><img src="/src/navbar.png" style="position:absolute; top:0; left:0;"></span>
        <a href="https://www.warcraftlogs.com/guild/id/566479" class="menu-link" target="_blank"><span>Warcraft Logs</span></a>
        <a href="https://raider.io/guilds/us/emerald-dream/Not%20That%20Drunk" class="menu-link" target="_blank"><span>Raider IO</span></a>
        <a href="https://subcreation.net/" class="menu-link" target="_blank"><span>Subcreation</span></a>
        <a href="https://www.wowhead.com/" class="menu-link" target="_blank"><span>Wowhead</span></a>
        <a href="https://docs.google.com/spreadsheets/d/15kwSNS6_cpc4i789g7VmPhNQ-fAwswOUu9CFWpRejxk/edit#gid=241918221" class="menu-link" target="_blank"><span>Raid Team Spreadsheet</span></a>
        <a href="https://discord.notthatdrunk.com" class="menu-link" target="_blank"><span>Discord</span></a>

    </nav>

    <!-- Side menu for small display -->
    <aside class="menu" id="menu">
      <div class="menu-header">
        <h1>Menu</h1>
        
      </div>
      <div class="menu-links">
        <a href="/" class="menu-link"><span>Home</span></a>
        <a href="/livelog" class="menu-link"><span>Live Log</span></a>
        <!-- <a href="/mplus" class="menu-link"><span>M+</span></a> -->
      </div>
    </aside>

    <nav class="tab-selector">
      <div>
        <a href="/" class="tab-select selected-tab">Home</a>
        <a href="/livelog" class="tab-select">Live Log</a>
        <!-- <a href="/mplus" class="tab-select">M+</a> -->
      </div>
    </nav>

    <div class="main-layout">
      <main class="main">
        <!-- Row 1 -->
        <div class="row-1">
          <div class="box active-users">
            <h2 class="box-title">
              Most M+ Runs This Week
            </h2>
            <% function findHighestPlayer(players) {
              let highestPlayer = "";
              let highestCount = 0;
              Object.keys(players).reduce((highest, player) => {
                  if (players[player] > highestCount) {
                      highestCount = players[player];
                      highestPlayer = player;
                  }
              }, 0);
              return highestPlayer;
         } %>
              
            <h1 class="number-mostruns">
              
              <%= findHighestPlayer(runsPerPlayer) %>
            </h1>
          </div>
          <div class="box page-views">                 
            <h2 class="box-title">Keys completed this week</h2>
            <div class="graph">
              <div class="bar" aria-label="<%= runCount.tuesday %>" style="height: <%= (runCount.tuesday / runCount.total) * 100 %>%;">
                <div class="label">Tue</div>
              </div> 
              <div class="bar" aria-label="<%= runCount.wednesday %>" style="height: <%= (runCount.wednesday / runCount.total) * 100 %>%;">
                <div class="label">Wed</div>
              </div>              
              <div class="bar" aria-label="<%= runCount.thursday %>" style="height: <%= (runCount.thursday / runCount.total) * 100 %>%;">
                <div class="label">Thu</div>
              </div> 
              <div class="bar" aria-label="<%= runCount.friday %>" style="height: <%= (runCount.friday / runCount.total) * 100 %>%;">
                <div class="label">Fri</div>
              </div> 
              <div class="bar" aria-label="<%= runCount.saturday %>" style="height: <%= (runCount.saturday / runCount.total) * 100 %>%;">
                <div class="label">Sat</div>
              </div> 
              <div class="bar" aria-label="<%= runCount.sunday %>" style="height: <%= (runCount.sunday / runCount.total) * 100 %>%;">
                <div class="label">Sun</div>
              </div> 
              <div class="bar" aria-label="<%= runCount.monday %>" style="height: <%= (runCount.monday / runCount.total) * 100 %>%;">
                <div class="label">Mon</div>
              </div> 
            </div>
          </div>
        </div>

        <div class="table-left">
          <div class="side-bar-header">
            <h3>Top M+ Runs of the Week</h3>
          </div>
          <div class="flex flex-col">
              <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
                <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
                  <div class="overflow-hidden">
                    <table class="min-w-full text-left text-sm font-light">
                      <thead class="border-b font-medium dark:border-neutral-500">
                        <tr>
                          <th scope="col" class="px-6 py-4 ">Rank</th>
                          <th scope="col" class="px-6 py-4">Player</th>
                          <th scope="col" class="px-6 py-4">Dungeon</th>
                          <th scope="col" class="px-6 py-4">Key Level</th>
                          <th scope="col" class="px-6 py-4">Upgrade</th>
                          <th scope="col" class="px-6 py-4">Day of the Week</th>
                          <th scope="col" class="px-6 py-4">URL</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr
                          class="border-b transition duration-300 ease-in-out hover:bg-neutral-100 dark:border-neutral-500 dark:hover:bg-neutral-600">
                    <% var maxRuns = Math.min(weeklyRuns.length, 10); %>
                    <% for (var i = 0; i < maxRuns; i++) { %>
                    <tr class="hover">
                    <td class="whitespace-nowrap px-6 py-4 font-medium"><%= weeklyRuns[i].id %></td>
                    <td class="whitespace-nowrap px-6 py-4"><%= weeklyRuns[i].playerName %></td>
                    <td class="whitespace-nowrap px-6 py-4"><%= weeklyRuns[i].shortName %></td>
                    <td class="whitespace-nowrap px-6 py-4"><%= weeklyRuns[i].keyLevel %></td>
                    <td class="whitespace-nowrap px-6 py-4">+<%= weeklyRuns[i].keyUpgrade %></td>
                    <td class="whitespace-nowrap px-6 py-4"><%= weeklyRuns[i].date %></td>
                    <td class="whitespace-nowrap px-6 py-4"><a href="<%= weeklyRuns[i].url %>" target="_blank">Link</td>
                    </tr>
                    <% } %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
          </div>
        </div>

        <!-- Row 2 - main stats -->
        <div class="row-2-live">
          <div class="stat-box">
            <div class="box-title">
              <span>Total Keys Completed</span>
            </div>
            <h1 class="number-fs">
              <%= Object.values(runsPerPlayer).reduce((acc, cur) => acc + cur, 0) %>
            </h1>
          </div>
        </div>


        <!-- Row 4 - Devices -->
        <div class="row-4">
          <div class="box device-box">
            <div class="box-title">M+ Runs Per Player</div>
            <div class="reference-details">
              <div class="top-players">
                <% const topPlayers = Object.entries(runsPerPlayer)
                     .sort((a, b) => b[1] - a[1])
                     .slice(0, 10);
                   topPlayers.forEach(([player, number]) => { %>
                  <div class="reference">
                    <span><%= player %></span>
                    <span><%= number %></span>
                  </div>
                <% }); %>
              </div>
              
            </div>
          </div>
          
        </div>
        
      </main>
      
      <aside class="side-bar">
        <div class="side-bar-header">
          <h3>Top M+ Scores</h3>
        </div>
        <div class="flex flex-col">
            <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
              <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
                <div class="overflow-hidden">
                  <table class="min-w-full text-left text-sm font-light">
                    <thead class="border-b font-medium dark:border-neutral-500">
                      <tr>
                        <th scope="col" class="px-6 py-4 ">Rank</th>
                        <th scope="col" class="px-6 py-4">Player</th>
                        <th scope="col" class="px-6 py-4">M+ Score</th>
                        <th scope="col" class="px-6 py-4">Role</th>
                        <th scope="col" class="px-6 py-4">Overall Rank</th>
                        <th scope="col" class="px-6 py-4">Role Rank</th>
                        <th scope="col" class="px-6 py-4">URL</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        class="border-b transition duration-300 ease-in-out hover:bg-neutral-100 dark:border-neutral-500 dark:hover:bg-neutral-600">
                        <% for(var i=0; i < 50; i++) { %>
                          <tr class="hover">
                        <td class="whitespace-nowrap px-6 py-4 font-medium"><%= playerArray[i].id %></td>
                        <td class="whitespace-nowrap px-6 py-4"><%= playerArray[i].playerName %></td>
                        <td class="whitespace-nowrap px-6 py-4"><%= playerArray[i].score %></td>
                        <td class="whitespace-nowrap px-6 py-4"><%= playerArray[i].role %></td>
                        <td class="whitespace-nowrap px-6 py-4"><%= playerArray[i].overallRank %></td>
                        <td class="whitespace-nowrap px-6 py-4"><%= playerArray[i].roleRank %></td>
                        <td class="whitespace-nowrap px-6 py-4"><a href="<%= playerArray[i].url %>" target="_blank">Link</td>
                      </tr>
                   <% } %>
        
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
  </body>
</html>