<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Not That Drunk Dashboard</title>
    <link rel="icon" type="image/x-icon" href="/src/favicon.png">
    <link rel="stylesheet" href="/stats.css" />
    <link rel="stylesheet" href="/styles.css">
<link rel="stylesheet" href="/all.min.css">
  </head>
  <body>
    <!-- nav bar -->
    <nav class="nav-bar">
    
        <span><img src="/src/navbar.png" style="position:absolute; top:0; left:0;"></span>
        <a href="https://www.warcraftlogs.com/guild/id/566479" class="menu-link" target="_blank"><span>Warcraft Logs</span></a>
        <a href="https://raider.io/guilds/us/emerald-dream/Not%20That%20Drunk" class="menu-link" target="_blank"><span>Raider IO</span></a>
        <a href="https://subcreation.net/" class="menu-link" target="_blank"><span>Subcreation</span></a>
        <a href="https://www.wowhead.com/" class="menu-link" target="_blank"><span>Wowhead</span></a>
        <a href="https://docs.google.com/spreadsheets/d/15kwSNS6_cpc4i789g7VmPhNQ-fAwswOUu9CFWpRejxk/edit#gid=241918221" class="menu-link" target="_blank"><span>Raid Team Spreadsheet</span></a>
        <a href="https://discord.notthatdrunk.com" class="menu-link" target="_blank"><span>Discord</span></a>
    </nav>

    <!-- Side menu for small display -->
    <aside class="menu" id="menu">
      <div class="menu-header">
    
      </div>
      <div class="menu-links">
        <a href="/" class="menu-link"><span>Home</span></a>
        <a href="/livelog" class="menu-link"><span>Live Log</span></a>
        <a href="/mplus" class="menu-link"><span>M+</span></a>
      </div>
    </aside>

    <nav class="tab-selector">
      <div>
        <a href="/" class="tab-select selected-tab">Home</a>
        <a href="/livelog" class="tab-select">Live Log</a>
        <a href="/mplus" class="tab-select">M+</a>
      </div>
    </nav>

    <% if(lastPullEncounter[0].kill){ %>
      <div class="boss-box">
        <h1><%= lastPullRankings[0].encounter %> </h1><p>
        </p><h2>✅ Kill ✅</h2><p>
          <a href="https://www.warcraftlogs.com/reports/<%= lastPullRankings[0].reportId %>" class="button">Warcraft Logs Link</a>
        </p>
        
        </div>
    <% } else { %>  
      <div class="boss-box">
      <h1><%= lastPullRankings[0].encounter %> <p>
        </p><h2>Last pull: <%= lastPullEncounter[0].fightPercentage %>%</h2>
        <a href="https://www.warcraftlogs.com/reports/<%= lastPullRankings[0].reportId %>" class="button">Warcraft Logs Link</a>
      </p>
      </h1>
    </div>
   <% } %>
  
    <div class="main-layout">
      
      <main class="main">
        <!-- Row 1 -->

      
        <!-- Row 2 - main stats -->
        <div class="row-1-live">
          <div class="stat-box-good">
            <div class="stat-title">
              Highest DPS Parse
            </div>
            <h1 class="number-fs">
              <% var highestParse = 0; %>
              <% var playerName = ''; %>
              <% for(var i=0; i < lastPullRankings?.length; i++) { %>
              <% if (lastPullRankings[i]?.dpsParse > highestParse) { %>
              <% highestParse = lastPullRankings[i]?.dpsParse; %>
              <% playerName = lastPullRankings[i]?.playerName; %>
              <% } %>
              <% } %>
              <b><%= playerName %></b><p>
              <%= highestParse %>
            </h1>
          </div>
          <div class="stat-box-good">
            <div class="stat-title">
              Highest DPS
            </div>
            <h1 class="number-fs">
              <% var playerName = ''; %>
              <% var highestDps = 0; %>
              <% for(var i=0; i < lastPullRankings?.length; i++) { %>
              <% if (lastPullRankings[i]?.dps > highestDps) { %>
              <% highestDps = lastPullRankings[i]?.dps; %>
              <% playerName = lastPullRankings[i]?.playerName; %>
              <% } %>
              <% } %>
              <b><%= playerName %></b><p>
              <%= highestDps.toLocaleString() %>
            </h1>
          </div>
          <div class="stat-box-bad">
            <div class="stat-title">
              Lowest DPS Parse
            </div>
            <h1 class="number-fs">
              <% var lowestParse = 100; %>
              <% var playerName = ''; %>
              <% for(var i=0; i < lastPullRankings.length; i++) { %>
              <% if (lastPullRankings[i]?.dpsParse < lowestParse) { %>
              <% lowestParse = lastPullRankings[i]?.dpsParse; %>
              <% playerName = lastPullRankings[i]?.playerName; %>
              <% } %>
              <% } %>
              <b><%= playerName %></b><p>
              <%= lowestParse %>
            </h1>
          </div>
          <div class="stat-box-bad">
            <div class="stat-title">
              Lowest DPS
            </div>
            <h1 class="number-fs">
              <% var lowestDps = 9999999; %>
              <% var playerName = ''; %>
              <% for(var i=0; i < lastPullRankings.length; i++) { %>
              <% if (lastPullRankings[i]?.role !== 'Tank' && lastPullRankings[i]?.role !== 'Healer') { %>
              <% if (lastPullRankings[i]?.dps < lowestDps) { %>
              <% lowestDps = lastPullRankings[i]?.dps; %>
              <% playerName = lastPullRankings[i]?.playerName; %>
              <% } %>
              <% } %>
              <% } %>
              <b><%= playerName %></b><p>
              <%= lowestDps.toLocaleString() %>
            </h1>
          </div>
        </div>


      


        <!-- Row 4 - Devices -->
        <div class="table-left">
        
        <div class="side-bar-header">
          <h3>Total Raid Resource Usage</h3>
        </div>
        <div class="flex flex-col">
            <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
              <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
                <div class="overflow-hidden">
                  <table class="min-w-full text-left text-sm font-light">
                    <thead class="border-b font-medium dark:border-neutral-500">
                      <tr>
                        <th scope="col" class="px-6 py-4 ">Player</th>
                        <th scope="col" class="px-6 py-4">Potions Used</th>
                        <th scope="col" class="px-6 py-4">Healthstones Used</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        class="border-b transition duration-300 ease-in-out hover:bg-neutral-100 dark:border-neutral-500 dark:hover:bg-neutral-600">
                        <% for(var i=0; i < resourcesArray.length; i++) { %>
                          <tr class="hover">
                        <td class="whitespace-nowrap px-6 py-4 font-medium"><%= resourcesArray[i]?.playerName %></td>
                        <td class="whitespace-nowrap px-6 py-4"><%= resourcesArray[i]?.potions %></td>
                        <td class="whitespace-nowrap px-6 py-4"><%= resourcesArray[i]?.healthstones %></td>
                      </tr>
                   <% } %>
        
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        
      </div>
      </main>
      <aside class="side-bar">
        <div class="side-bar-header">
          <h3>Last Pull Death Log</h3>
        </div>
        <div class="flex flex-col">
            <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
              <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
                <div class="overflow-hidden">
                  <table class="min-w-full text-left text-sm font-light">
                    <thead class="border-b font-medium dark:border-neutral-500">
                      <tr>
                        <th scope="col" class="px-6 py-4 ">Player</th>
                        <th scope="col" class="px-6 py-4">Pull Death Time</th>
                        <th scope="col" class="px-6 py-4">Cause</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        class="border-b transition duration-300 ease-in-out hover:bg-neutral-100 dark:border-neutral-500 dark:hover:bg-neutral-600">
                        <% for(var i=0; i < lastPullDeaths.length; i++) { %>
                          <tr class="hover">
                        <td class="whitespace-nowrap px-6 py-4 font-medium"><%= lastPullDeaths[i]?.playerName %></td>
                        <td class="whitespace-nowrap px-6 py-4"><%= lastPullDeaths[i]?.deathTime %> minutes</td>
                        <td class="whitespace-nowrap px-6 py-4"><%= lastPullDeaths[i]?.killedBy %></td>
                      </tr>
                   <% } %>
        
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </aside>
          <bottomtable>
          <div class="table-right">
            <div class="side-bar-header">
              <h3>Last Pull Parses</h3>
            </div>
            <div class="flex flex-col">
                <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
                  <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
                    <div class="overflow-hidden">
                      <table class="min-w-full text-left text-sm font-light">
                        <thead class="border-b font-medium dark:border-neutral-500">
                          <tr>
                            <th scope="col" class="px-6 py-4 ">Player</th>
                            <th scope="col" class="px-6 py-4">DPS</th>
                            <th scope="col" class="px-6 py-4">DPS Parse</th>
                            <th scope="col" class="px-6 py-4">HPS</th>
                            <th scope="col" class="px-6 py-4">HPS Parse</th>
                            <th scope="col" class="px-6 py-4">Used Healthstone</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr
                            class="border-b transition duration-300 ease-in-out hover:bg-neutral-100 dark:border-neutral-500 dark:hover:bg-neutral-600">
                            <% for(var i=0; i < lastPullRankings.length; i++) { %>
                              <tr class="hover">
                            <td class="whitespace-nowrap px-6 py-4 font-medium"><%= lastPullRankings[i]?.playerName %></td>
                            <td class="whitespace-nowrap px-6 py-4"><%= (lastPullRankings[i]?.dps).toLocaleString() %></td>
                            <td class="whitespace-nowrap px-6 py-4"><%= lastPullRankings[i]?.dpsParse %></td>
                            <td class="whitespace-nowrap px-6 py-4"><%= (lastPullRankings[i]?.hps).toLocaleString() %></td>
                            <td class="whitespace-nowrap px-6 py-4"><%= lastPullRankings[i]?.healingParse %></td>
                            <td class="whitespace-nowrap px-6 py-4"><%= lastPullRankings[i]?.usedHealthstone %></td>
                          </tr>
                       <% } %>
            
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              </div>
            </bottomtable>
          
        
  </body>
</html>